body {
	font-family: Verdana, sans-serif;
 	font-size:0.8em;
}

header,nav, section,article,footer
{
	border:1px solid grey;
	 margin:5px;
	 padding:8px;
}

nav ul {margin:0;
	 padding:0;
}

nav ul li {display:inline;
	 margin:5px;
}

div#header, div#footer, div#content {
    border:1px solid grey;
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:white;
}

div#header,div#footer {
    color:white;
    background-color:#444;
    margin-bottom:5px;
}

div#content {
    background-color:#ddd;
}

/*div#menu ul  {
    margin:0;
    padding:0;
}

div#menu ul li {
    display:inline;
     margin:5px;
}
*/
.post {
	display: inline-block;
	width: 30%;
	 border:1px solid grey;
    /*margin:5px;*/
    /*margin-bottom:15px;*/
    padding:8px;
    background-color:white;
}